@import "general";


.btn-primary, .btn-primary:disabled{
  background: @primary-color;
  border-color: @primary-color-darker
}
.btn-primary:hover{
  background: @primary-color-darker;
  border-color: @primary-color-darkest
}
.btn-default, .btn-default:disabled{
  border-color: #ccc
}
.btn-default:hover{
  background: #ddd;
  border-color: #aaa
}
.btn-warning, .btn-warning:disabled{
  color: #fff;
}
.btn-warning:hover{
  color: #fff;
}