@import "general";


.btn-primary, .btn-primary:disabled{
  background: @primary-color;
  border-color: @primary-color-darker
}
.btn-primary:hover{
  background: @primary-color-darker;
  border-color: @primary-color-darkest
}