@import "general";

// BOOTSTRAP STYLES OVERWRITTEN

.btn-primary, .btn-primary:disabled {
  background: @primary-color;
  border-color: @primary-color-darker
}

.btn-primary:hover {
  background: @primary-color-darker;
  border-color: @primary-color-darkest
}

.btn-default, .btn-default:disabled {
  border-color: #ccc
}

.btn-default:hover {
  background: #ddd;
  border-color: #aaa
}

.btn-warning, .btn-warning:disabled {
  color: #fff;
  background: @secondary-color-lighter;
  border-color:@secondary-color-darker
}

.btn-outline-warning{
  color:@secondary-color-darker;
  border-color:@secondary-color-darker
}

.btn-warning:hover, .btn-outline-warning:hover, .btn-outline-warning:active, .btn-outline-warning:focus {
  color: #fff;

  background: @secondary-color-darker;
  border-color:@secondary-color-darkest
}

.btn-toolbar {
  .btn {
    margin-right: 5px;
    &:last-of-type {
      margin-right: 0
    }
  }
}

.badge-default{
  background: #555;
  color: #fff;
}


.badge-secondary{
  background: @secondary-color;
}

// BOOTSTRAP REACT TABLE

.react-bs-table-container {
  margin-top: 15px;
  table {
    margin-bottom: 0
  }
  .order{
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px dashed;
      border-top: 4px solid \9;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .dropup, .dropdown {
      position: relative;
    }

    .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
      border-top: 0;
      border-bottom: 4px dashed;
      border-bottom: 4px solid \9;
      content: "";
    }
  }

  .pagination{
    .active{
      .page-link{
        background: @primary-color;
        border-color: @primary-color-darker;
        &:hover, &:focus, &:active{
          background: @primary-color-darker;
          border-color: @primary-color-darkest
        }
      }
    }
  }
}

// FORMS

form {
  border: 1px solid @primary-color;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  h6 {
    top: 0;
    //margin-bottom:15px;
    position: absolute;
    display: inline-block;
    background: @primary-color;
    border: 1px solid @primary-color;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 12px

  }
  .form-group {
    label {
      font-weight: bold;
    }
    &:first-of-type {
      margin-top: 5px;
    }
  }

  .add-label-margin {
    height: 32px
  }
}

// NOTIFICATIONS

.notification-container{
  .message{
    word-break: break-all;
  }
}

