#header{
  background:#eee;
  border-bottom:1px solid #ddd;
  padding:5px 10px;

  #appName{
    float:left;
    font-weight: bold;
    font-size: 20px;
    small{
      margin-left:5px;
    }
  }
  #logoutButton{
    float:right;
  }
}